@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Itim", cursive;
  font-weight: 700;
  font-size: 20px;
}

.center-a {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 2000px;
  margin: auto;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(242, 245, 246);
  font-size: 2em;
  background-color: rgb(21, 22, 22);
  border-radius: 10px;
  padding: 10px;
}

a:link {
  color: rgb(135, 161, 196);
  text-decoration: none;
}

a:visited {
  color: rgb(242, 245, 246);
}

a:hover {
  color: rgb(242, 245, 246);
}

a:active {
  color: rgb(192, 194, 199);
}

@media (max-width: 800px) {
  body {
    margin: 0;
    height: auto;
  }
  .center-a {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: auto;
    padding: 10px;
  }

  img {
    width: 100%;
  }

  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
